* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f5f5f5;
  background-image: url("./pexels-evie-shaffer-2395249.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.landing__container {
  background-color: rgba(245, 245, 245, 0.5843137255);
  border-radius: 8px;
  height: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing__container > * {
  padding: 5%;
  text-align: right;
}

.landing h1 {
  font-family: "Nanum Gothic Coding", monospace;
}

.landing p {
  font-size: x-large;
  font-family: DotGothic16, sans-serif;
}

.landing li {
  list-style-type: none;
  font-size: large;
  font-family: "Nanum Gothic Coding", monospace;
}

h2 {
  font-family: DotGothic16, sans-serif;
}

.container {
  background-color: rgba(245, 245, 245, 0.5843137255);
  border-radius: 8px;
  height: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.long {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  margin: 7.5vh 0vw;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me__container > * {
  padding: 5%;
  text-align: center;
}
.about-me__description p {
  font-family: "Nanum Gothic Coding", monospace;
}
.about-me__photo img {
  height: 250px;
  width: 250px;
}

.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.skills__container > * {
  padding: 5%;
}
.skills__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 85px;
}
@media only screen and (max-width: 890px) {
  .skills__card img {
    height: 50px;
    width: 50px;
  }
}

.contact__gallery {
  display: flex;
  justify-content: space-around;
  width: 85vw;
  padding: 5%;
}
.contact__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 890px) {
  .contact__card img {
    height: 50px;
    width: 50px;
  }
}

span {
  padding: 5%;
}
@media only screen and (min-width: 891px) {
  span {
    height: 50%;
  }
}

@media only screen and (min-width: 891px) {
  h3 {
    padding: 5%;
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__headline {
  padding: 5%;
}
.projects__gallery h3 ~ * {
  padding-bottom: 5%;
}
.projects__card {
  padding: 5%;
}
@media only screen and (min-width: 891px) {
  .projects__card {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 891px) {
  .projects__picture {
    width: 50%;
  }
}
@media only screen and (min-width: 891px) {
  .projects__gallery img {
    padding: 5%;
  }
}
.projects__card > * {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
}
